<% @events.each do |event| %>
  <li>
    <div style="background-image: url(<%= event.flyer %>);" class="thumbnail"></div>
    <div class="leftBox">
      <h1><%= event.name %></h1>
      <p><%= event.description %></p>
      <h2><%= event.location %></h2>
    </div>
    <div class="rightBox">
    <% if event.approval_rating == 0 %>
      <%= link_to 'Approve', :controller => "events", :action => "approve", :id => event.id %>
    <% else %>
      <%= link_to 'Decline', :controller => "events", :action => "decline", :id => event.id %>
    <% end %>
  </li>
<% end %>