<a href="<%= edit_event_path(event) %>">
<div id="event-<%= event.id %>" class="event">
  <div class="event-info">
    <h4><%= event.name %></h4>
    <p class="location"><%= event.location %></p>
    <p class="desc"><%= event.description %></p>
  </div>
  <div style="background-image: url(<%= event.flyer %>);" class="thumbnail"></div>
</div></a>
