<div class="event">
<h4><%= event.name %></h4>
  <p class="description"><%= event.description %></p>
  <p class="location"><%= event.location %></p>
  <p class="time"><%= event.abbreviated_date %></p>
  <p class="time"><%= event.test_date %></p>
  <p class="time"><%= event.time %></p>
  <div style="background-image: url(<%= event.flyer %>);" class="thumbnail"></div>
</div>
