<div class="event">
<h4><%= event.name %></h4>
<p><%= event.description %></p>
  <td><%= event.location %></td>
  <td><%= event.time %></td>
    <td><%= event.pattern %></td>
    <td><%= event.categories %></td>
  </tr>
  <div style="background-image: url(<%= event.flyer %>);" class="thumbnail"></div>
</div>
