<div id="event-<%=@count%>" class="box<%= event.style_list %>">
	<% if !event.flyer.nil? and event.flyer.exists?%>
		<img src="<%= event.flyer.url(:small) %>"/>
	<% else %>
		<img src="/images/default-flyer.png"/>
	<% end %>
	<h3><%= event.name %></h3>
	<p><%= event.time.strftime("%A, %b. %d") %></p>

	<% event.categories.split(%r{,\s*}).each do |cat_num| %>
		<span class="cat-stripes c-<%=EventsHelper::to_category(cat_num).to_s.downcase %>"></span>
	<% end %>
</div>
<div id="event-<%=@count%>-desc" class="reveal-modal event-desc">
	<div id="presentable_field_<%=@count %>" class="presentable_fields">
	<div class="m-topbar">"Viewing Event"
		<span class="m-helptext">Click anywhere outside of this box to close.</span>
	</div>
	<div class="m-title">
		<h1><%= event.name %></h1>
		<h2>Organized by <%= event.user.andrew_id %></h2>
	</div>
	<div class="m-sidebar m-flyer">
		<% if !event.flyer.nil? and event.flyer.exists?%>
		<img src="<%= event.flyer.url(:small) %>"/>
		<% else %>
		<img src="/system/flyers/small/default-flyer.png"/>
		<% end %>
	</div>
	<div class="m-details">
		<div>
			<h3>Time</h3>
			<p><%= event.time.strftime("%B, %A %d, at %l:%M %P") %></p>
		</div>
		<div>
			<h3>Location</h3>
			<p><%= event.location %></p>
		</div>
		<div>
			<h3>Description</h3>
			<p><%= event.description %></p>
		</div>
	</div>
	
	<% similar = event.get_similar %>
	<% similar.each do |e| %>
		<p><%= e.name %> | <img src="<%= e.flyer.url(:thumb) %>"/></p>
	<% end %>
		<button class="event_edit_btn" value="<%=@count%>">Edit this event</button>
		<%= button_to "Destroy", event, :remote=>true, :confirm=>'Are you sure?', :method => :delete %>
	</div>
	<div id="editable_field_<%=@count%>" class="editable_fields">
		<%= render :partial=> 'form', :locals=>{:up=>true, :event=>event, :title => "Editing an event"}%>
	</div>
	
</div>