<div class="event">
  <div class="caption <%= event.flag %>">
    <h4><%= event.name %></h4>
    <p class="location"><%= event.location %></p>
  </div>
  <div class="event-info">
    <p class="desc"><%= event.description %></p>
  </div>
  <div style="background-image: url(<%= event.flyer %>);" class="thumbnail"></div>
</div>
