<%#= form_for(@event, :url=>{:action=>'update', :id=>@event.id, :format=>'js'}, :html=> {:multipart=>true, :target=>'upload_frame', :method=>:put}) do |f|%>
<!--form_for(@event, :url=>events_path(:format=>'js'), :html=> {:multipart=>true, :target=>'upload_frame'})-->
<% if up %>
	<% *test = {:url=>{:action=>'update', :id=>@event.id, :format=>'js'}, :html=> {:multipart=>true, :target=>'upload_frame', :method=>:put}} %>
<% else %>
	<% *test = {:url=>events_path(:format=>'js'), :html=> {:multipart=>true, :target=>'upload_frame'}} %>
<% end %>
<%=  form_for(@event, *test)  do |f|%>
		<div class="m-topbar">Creating a New Event
	  <%= f.submit %> 
	  </div>
		<% if @event.errors.any? %>
		<div id="error_explanation">
		  <%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:

		  <ul>
		  <% @event.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
		<% end %>
	  	<div class="m-title">
				<%= f.label :name %><br />
				<%= f.text_field :name%><br/>
				<h2>Organized by byee</h2>
		</div>
		<!--<div class="m-flyer-default">
				<img class="preview-indicator" src="/images/preview-indicator.png">
				<div id="m-flyer-overlay"></div>
		</div>-->
		
		
		
		<div class="m-sidebar">
				<div class="m-flyer-preview">
					<img class="preview-indicator" src="/images/preview-indicator.png">
					<div id="m-flyer-overlay"></div>
					<%= f.label :flyer %><br />
					<img src="<%= @event.flyer.url(:small) %>"/>
				</div>
				<%= f.file_field :flyer, :id=>"b-new" %>
				<!--<button id="b-edit">Change Flyer</button>
				<button id="b-new">Delete Flyer</button>-->
		</div>
					
		<div class="m-details">
			<div class="m-text-input">
			<div>
				<h3><%= label_tag 'date_input', 'Start Time' %></h3>
				
				<p><input id="date_input" type="text" placeholder="Tomorrow at 3p..." /><span id="date_output">When is your event?</span></p>
				<p><%= f.hidden_field :time, :id => 'hidden_date_input', :value => Time.now %></p>
			</div>
			
			<!--<%#= f.label :end_time %><br />
			<%#= f.datetime_select :end_time %>
			<%#= f.text_field :end_time%><br/>-->
			

		<!--	<%#= f.label :pattern %><br />
			<%#= f.hidden_field :pattern %><br/>-->
			<div>
				<h3><%= label_tag 'location_input', 'Location' %></h3>
				<p><%= f.text_field :location, :placeholder => "Where is your event?" %></p>
			</div>
			
			<div>
				<h3><%= label_tag 'description_input', 'Description' %></h3>
				<p><%= f.text_field :description, :placeholder => "A few words about your event..." %></p>
			</div>
			</div>

			<div>
				<h3>Categories</h3>
				<%= f.label :categories %> (Choose up to 2)<br/>
				<ul id="e-cats">
				<% EventsHelper::all_categories.each do |c| %>
					<% check_id = get_check_id(c.name) %>
					<li class="cat-radio">
						<%= label_tag check_id, c.name %>
						<% if @event.category_list.find{|d| d.value == c.value}%>
							<%= check_box_tag "event[categories][]", c.value, true, {:class=>'check2', :id => check_id }%>
						<% else%>
							<%= check_box_tag "event[categories][]", c.value, false, {:class=>'check2', :id => check_id }%>
						<% end %>
					</li>
				<% end %>
				</ul>
			</div>
		</div>
<% end %>
<iframe id='upload_frame' name="upload_frame" style="width:0;height:0;border:0px" src="about:blank"></iframe>