<%= form_for @event, do |f| %>

<fieldset class="form-flyer">
  <div class="field">
    <%= f.label :flyer %>
    <%= f.file_field :flyer %>
  </div>
</fieldset>
<fieldset class="form-info">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :start_time %>
    <%= select_tag :start_time, options_for_select(Event::EVENT_TIMES, closest_half_hour) %>
  </div>
  <div class="field">
    <%= f.label :end_time %>
    <%= select_tag :end_time, options_for_select(Event::EVENT_TIMES, closest_half_hour(60)) %>
  </div>
  <div class="field">
    <%= f.label :categories %>
    <%= f.text_field :categories %>
  </div>
</fieldset>
<fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>  
</fieldset>
<% end %>