<%if defined? event and !event.nil? 
		local_event = event
	else
		local_event = @event
	end
%>
<% if defined? title
	form_title = title
	else
	form_title = "Creating a New Event"
	end
%>
<%#= form_for(local_event, :url=>{:action=>'update', :id=>local_event.id, :format=>'js'}, :html=> {:multipart=>true, :target=>'upload_frame', :method=>:put}) do |f|%>
<!--form_for(local_event, :url=>events_path(:format=>'js'), :html=> {:multipart=>true, :target=>'upload_frame'})-->

<% if up %>
	<% *test = {:url=>{:action=>'update', :id=>local_event.id, :format=>'js'}, :html=> {:multipart=>true, :target=>'upload_frame', :method=>:put}} %>
<% else %>
	<% *test = {:url=>events_path(:format=>'js'), :html=> {:multipart=>true, :target=>'upload_frame'}} %>
<% end %>
<%=  form_for(local_event, *test)  do |f|%>
		<div class="m-topbar"><%= form_title %>
	  <%= f.submit %> 
	  </div>
		<% if local_event.errors.any? %>
		<div id="error_explanation">
			<%= pluralize(local_event.errors.count, "error") %> prohibited this event from being saved:

			<ul>
			<% local_event.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
		<% end %>
		
	  	<div class="m-title">
				<%= f.label :name %><br />
				<%= f.text_field :name%><br/>
				<h2>Organized by byee</h2>
		</div>

		<div class="m-sidebar">
			<div class="m-flyer-preview">
				<div id="m-flyer-overlay"></div>
				<%= f.label :flyer %><br />
			</div>
			<%= f.file_field :flyer, :id=>"b-new" %>
		</div>
					
		<div class="m-details">
			<div id="ajax_errors">
				<ul>
				</ul>
			</div>
			<div class="m-text-input">
			<div>
				<h3><%= label_tag 'date_input', 'Start Time' %></h3>
				<%
					if local_event.time.nil?
						e_time = Time.now %>
						<p><input class="date_input" type="text" placeholder="Tomorrow at 3p..." /><span class="date_output">When is your event?</span></p>
				<p><%= f.hidden_field :time, :class => 'hidden_date_input', :value => e_time %></p>
					<% else 
						e_time = local_event.time %>
						<p><input class="date_input" type="text" value="<%= local_event.time.strftime('%B %d, %Y at %l:%M %P') %>" placeholder="Tomorrow at 3p..." /><span class="date_output">When is your event?</span></p>
				<p><%= f.hidden_field :time, :class => 'hidden_date_input', :value => e_time %></p>
					<% end %>				

			</div>
			<div>
				<h3><%= label_tag 'location_input', 'Location' %></h3>
				<p><%= f.text_field :location, :placeholder => "Where is your event?" %></p>
			</div>
			
			<div>
				<h3><%= label_tag 'description_input', 'Description' %></h3>
				<p><%= f.text_field :description, :placeholder => "A few words about your event..." %></p>
			</div>
			</div>

			<div>
				<h3>Categories</h3>
				<%= f.label :categories %> (Choose up to 2)<br/>
				<ul id="e-cats">
				<% EventsHelper::all_categories.each do |c| %>
					<% check_id = get_check_id(c.name) %>
					<li class="cat-radio">
						<%= label_tag check_id, c.name %>
						<% if local_event.category_list.find{|d| d.value == c.value}%>
							<%= check_box_tag "event[categories][]", c.value, true, {:class=>'check2', :id => check_id }%>
						<% else%>
							<%= check_box_tag "event[categories][]", c.value, false, {:class=>'check2', :id => check_id }%>
						<% end %>
					</li>
				<% end %>
				</ul>
			</div>
		</div>
<% end %>
<iframe id='upload_frame' name="upload_frame" style="width:0;height:0;border:0px" src="about:blank"></iframe>