<%= form_for @event, do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset class="form-flyer">
  		<div class="field">
    		<div class="fake-input">
      			<%= label_tag :flyer, 'Upload a flyer' %>
      			<%= f.file_field :flyer %>
    		</div>
  		</div>
	</fieldset>
	
	<fieldset class="form-info">
		
  		<div class="field">
    		<%= f.label :name %>
    		<%= f.text_field :name %>
  		</div>
  		
		<div class="field">
    		<%= f.label :description %>
    		<%= f.text_area :description %>
  		</div>
  
		<div class="field">
    		<%= f.label :location %>
    		<%= f.text_field :location %>
  		</div>

  		<div class="field">
    		<%= f.label :start_time %>
    		<%= text_field_tag 'start_time_date', @event.edit_start_date, :class => 'datepicker' %>
    		<%= f.select(:start_time, options_for_select(Event::EVENT_TIMES, closest_half_hour(1))) %>
  		</div>

  		<div class="field">
    		<%= f.label :end_time %>
    		<%= text_field_tag 'end_time_date', @event.edit_end_date, :class => 'datepicker' %>
    		<%= f.select(:end_time, options_for_select(Event::EVENT_TIMES, closest_half_hour(3))) %>
  		</div>

  		<div class="field event-categories">
        	<%= f.label :categories %> (Choose up to 2)<br/>
        	<ul>
        		<% EventsHelper::all_categories.each do |c| %>
          			<% check_id = get_check_id(c[0]) %>
          			<li class="cat-radio">
            			<%= label_tag check_id, c[0], { :class => 'cat-button'} %>
						<%= check_box_tag "event[categories]", c[1], false, {:class=>'cat-check', :id => check_id }%>
          			</li>
        		<% end %>
        	</ul>
  		</div>
</fieldset>

<div class="actions">
	<%= f.submit %>
</div>  
<% end %>