<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Time</th>
    <th>Backing</th>
    <th>Owner</th>
    <th>Categories</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.description %></td>
    <td><%= event.location %></td>
    <td><%= event.time %></td>
	<% if !event.flyer.nil? and event.flyer.exists?%>
    <td><%= event.flyer %></td>
	<% else %>
    <td><%= event.pattern %></td>
	<% end %>
    <td><%= event.user_id %></td>
    <td><% event.category_list.each do |c| %> <%= c.name %><%end%></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<a href="#" id="new_event_btn">New Event</a>

<%= render :partial=> 'form'%>