<div id="admin">
	<h2>Events</h2>
	<p>
		<%= notice %>
	<p>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>UC</th>
				<th>Delete?</th>
			</tr>
		</thead>
		<tbody>
		<% @events.each do |e| %>
		<tr>
			<td><%= link_to e.name, event_path(e) %></td>
			<td><%= e.pretty_date %></td>
			<td><% if e.active.nil? == false and e.active %><%= link_to "Disapprove", disapprove_event_path(e)%><% else %><%= link_to "Approve", approve_event_path(e)%><% end %></td>
			<td><%= link_to "Delete", delete_event_path(e) %></td>
		</tr>
		<% end %>
		</tbody>
		<tfoot>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>UC</th>
				<th>Delete?</th>
			</tr>
		</tfoot>
	</table>
</div>