<br/><br/>
<p id="notice"><%= notice %></p>

<p>
  <h2><%= @event.name %></h2>
</p>
<p>
  <img src="<%= @event.flyer.url(:small) %>"/>
</p>
<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time.strftime("%A, %b. %d - %I:%M%p") %>
</p>

<p>
  <b>Owner:</b>
  <%= @event.user.andrew_id%>
</p>

<p>
  <b>Categories:</b>
  <ul>
  <% @event.category_list.each do |c| %>
	<li><%= c.name %> </li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
