	<br/><br/>

	<h2><%= @event.name %></h2>
	at <%= @event.location %>, <%= @event.time.strftime("%A, %b. %d - %I:%M%p") %>
	<br/>
	<img src="<%= @event.flyer.url(:small) %>"/>
	<br/>
	<%= @event.description %>

	

	<hr/>
	<b>Posted by:</b>
	<%= @event.user.andrew_id%>
	<br/>
	Listed in: <%= @event.category_list.join(", ") %>
	<br/>


	<%= link_to 'Edit', edit_event_path(@event) %>