<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Image:</b>
  <%= @event.image %>
</p>

<p>
  <b>Pattern:</b>
  <%= @event.pattern %>
</p>

<p>
  <b>Owner:</b>
  <%= @event.owner_id %>
</p>

<p>
  <b>Categories:</b>
  <%= @event.categories %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
