<!DOCTYPE html>
<html>
<head>
  <title>Teudu</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<h1><%= Time.now %></h1>
<%= javascript_include_tag "application" %>
</body>
</html>
