<!DOCTYPE html>
<html>
<head>
  <title>Teudu | Hands-on Event Discovery</title>
  <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/header" %>

<%= yield %>

<%= javascript_include_tag "application" %>
</body>
</html>
