<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BoredPrototype</title>
		<%= stylesheet_link_tag "screen" %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div class="header"> 
			<h1>Boredcast - Event Planning for CMU</h1> 
			
			<a style="float: right;" id="new_event_btn" href="#">Create an Event</a>

			<ul class="nav" id="filtering-nav">
			<% EventsHelper::all_categories.each do |c| %>
				<li><a class="col<%= c.name%>" href="#col<%= c.name%>"><%= c.name%></a></li>
			<% end %>
				<li><a class="all" href="#all">All</a></li
			</ul>
		</div>
		<div class="container">
		<%= yield %>
		</div>
	</body>
	<%= javascript_include_tag "jquery",  "jquery.masonry", "jquery.reveal", "jquery.validate.min", "rails", "jquery.plugins","app" %>
</html>
